@include pulse-keyframe ( pulseBlue, rgba($blue, 0.4), rgba($blue, 0) );
@include pulse-keyframe ( pulseLightblue, rgba($lightBlue, 0.4), rgba($lightBlue, 0) );

.btn {
    font-weight: 600;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;

    &__block {
        @each $name, $bg, $keyframe 
        in (--blue, $blue, pulseBlue), 
            (--lightblue, $lightBlue, pulseLightblue) {
            &#{$name} {
                color: #fff;
                background-color: #{$bg};
                border-radius: 50px;
                
                &:hover,
                &:focus {
                    color: #fff;
                    background-color: darken($bg, 5%);
                    animation: #{$keyframe} 1.5s infinite;
                }
            }
        }
    }

    &__link {
        color: $blue;
        padding-left: 0;
        padding-right: 25px;
        position: relative;
        @include transition( all 0.4s ease-in-out);

        &-icon, &-arrow {
            position: absolute;
            top: 50%;
            @include transition( all 0.4s ease-in-out);
        }

        &-icon {
            left: 0;
            opacity: 0;
            @include transform(translate(-100%, -50%));
        }

        &-arrow {
            right: 0;
            @include transform(translate(0, -50%));
        }

        &:hover,
        &:focus {
            padding-left: 25px;
            padding-right: 0;
            color: $blue;
            box-shadow: none!important;

            .btn__link-icon {
                opacity: 1;
                @include transform(translate(0, -50%));
            }

            .btn__link-arrow {
                opacity: 0;
                @include transform(translate(100%, -50%));
            }
        }
    }
}