@import "../config/mixin";

.navbar-brand {
    position: relative;
    width: 100%;
    display: inline-block;
    max-width: 175px;
    padding: unset;

    @media (max-width:575.98px) {
        max-width: 130px;
    }

    &:before {
        content: "";
        display: block;
        padding-top: 45 / 175 * 100%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.bsnav {
    padding-left: 30px;
    padding-right: 30px;

    @media (max-width:575.98px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                padding-left: 15px;
                padding-right: 15px;
                font-weight: 600;
            }

            &:hover > .nav-link,
            &:focus > .nav-link,
            &:active > .nav-link,
            &:active:focus > .nav-link,
            &.active > .nav-link{
                color: $blue;
            }

            &.dropdown {
                &>.navbar-nav {
                    @include transform(translateX(-50%));
                    text-align: center;
                    left: 50%;
                    @include box-shadow(0 0 18px 0 rgba(0,0,0,.2));

                    .nav-item {
                        .nav-link {
                            padding: 15px;

                            &:hover, &:focus {
                                background-color: $softGrey;
                            }
                        }
                    }
                }
            }
        }
    }

    &-mobile-overlay {
        background-color: rgba(#fff, .8);
    }
}

.bsnav-sticky {
    position: fixed!important;
}

.nav-item {
    &--action {
        margin-left: 15px;
        display: flex;
        align-items: center;

        .nav-link {
            color: $blue!important;
            border: 2px solid $blue;
            border-radius: 40px;
            padding: 7px 25px!important;
            text-transform: uppercase;

            &:hover,
            &:focus {
                color: #fff!important;
                background-color: $blue;
            }
        }
    }
}

.navbar-socmed {
    flex-direction: row;
}

.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
    background-color: unset;
    background: rgb(42,245,198);
    background: -moz-linear-gradient(90deg, rgba(42,245,198,1) 0%, rgba(7,174,234,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(42,245,198,1) 0%, rgba(7,174,234,1) 100%);
    background: linear-gradient(90deg, rgba(42,245,198,1) 0%, rgba(7,174,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2af5c6",endColorstr="#07aeea",GradientType=1);
}

.navbar-toggler.toggler-spring.active .navbar-toggler-icon {
    background: transparent;
}

.navbar-toggler {
    padding: 0;
    height: 44px;

    &.toggler-spring .navbar-toggler-icon {
        top: 7px;
    }
}

.bsnav-mobile {
    .navbar-nav { 
        .nav-item {
            &.active {
                .nav-link {
                    color: $blue;
                }
            }

            &--action {
                margin-left: 0;
                padding-top: 15px;

                .nav-link {
                    display: block;
                    text-align: center;
                }
            }

            .nav-link {
                display: block;
                padding: 8px 0;
                font-weight: 600;
                width: 100%;

                &:hover,
                &:focus {
                    color: $blue;
                }
            }
        }
    }
}

.bsnav-mobile .navbar-nav .nav-item.menu-item-has-children>.navbar-nav {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: $softGrey;

    .nav-item {
        .nav-link {
            padding-left: 15px;
        }
    }
}