@import "config";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/locomotive-scroll/src/locomotive-scroll";

@import "element/text";
@import "element/button";
@import "element/loader";
@import "element/navbar";
@import "element/form";
@import "element/editor-output";
@import "element/footer";

body {
    font-family: $font;
    font-weight: 400;
    color: $black;
    font-size: 14px;
    line-height: 2;
    overflow-x: hidden;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.c-scrollbar {
    z-index: 999;
}


a, button {
    @include transition(all 0.3s ease-in-out);
}