@mixin transform($option) {
    -webkit-transform: #{$option};
    -moz-transform: #{$option};
    -ms-transform: #{$option};
    -o-transform: #{$option};
    transform: #{$option};
}

@mixin transition($option) {
    -webkit-transition: #{$option};
    -moz-transition: #{$option};
    -ms-transition: #{$option};
    -o-transition: #{$option};
    transition: #{$option};
}

@mixin box-shadow($option) {
    -webkit-box-shadow: #{$option};
    -moz-box-shadow: #{$option};
    box-shadow: #{$option};
}

@mixin imageRatio($imageWidth, $imageHeight, $holder: false, $className : 'image', $objectFit : cover) {
    &__#{$className}-container {
        position: relative;
        width: 100%;
        @if ( $holder ) {
            display: inline-block;
            max-width: #{$imageWidth}px;
        }
        &:before {
            content: "";
            display: block;
            padding-top: $imageHeight / $imageWidth * 100%;
        }
    }
    &__#{$className} {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: #{$objectFit};
    }
}

@mixin elypsis($font-size: 16, $lines-to-show: 1, $line-height : 1.4) {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: #{$font-size*$line-height*$lines-to-show}px; /* Fallback for non-webkit */
    font-size: #{$font-size}px;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin float-keyframe ( $name, $option ) {
    @keyframes #{$name} {
        0% {
            @include transform(translateY(0px));
        }
        50% {
            @include transform(translateY(#{$option}px));
        }
        100% {
            @include transform(translateY(0px));
        }
    }
}

@mixin pulse-keyframe ($name, $color, $transparent) {
    @keyframes #{$name} {
        0% {
            box-shadow: 0 0 0 0 #{$color};
        }
        70% {
            box-shadow: 0 0 0 20px #{$transparent};
        }
        100% {
            box-shadow: 0 0 0 0 #{$transparent};
        }
    }
}